.buttonStyle
    border: none
    cursor: pointer
    color: white
    padding: 15px 20px
    letter-spacing: .8px
    transition: background-color 250ms ease-in-out
    background-color: black

.buttonText
    z-index: 10
